<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>

    <div class="toolbar">
        <br><div style="flex:0.20;"></div>
           <div style="flex:4;"></div>
             <h1 style="color: black;">Library Management</h1>
              
             <div class="spacer"></div>
             <a class="btn btn-primary" routerLinkActive="activebutton" routerLink ="/Home">Home</a>
             <div style="flex:2;"></div>
             <a class="btn btn-primary" routerLinkActive="activebutton" routerLink ="/adminlogin">Admin login</a>
             
             <div style="flex:2;"></div>
             <a class="btn btn-primary" routerLinkActive="activebutton" routerLink="/borrowers">book/Borrower list</a>
             
             <div style="flex:3;"></div>
         </div>         
         <br><br>
         <br><br>
         <br><br>  
    <router-outlet></router-outlet>
</body>
</html>
