 <div _ngcontent-ng-c51284643="" class="toolbar">
  <br _ngcontent-ng-c51284643=""><div _ngcontent-ng-c51284643="" style="flex: 0.20;"></div>
  <div _ngcontent-ng-c51284643="" style="flex: 3;"></div>
  <h1 style="color: black; margin: 0;">Library Management</h1>
  <div _ngcontent-ng-c51284643="" class="spacer"></div>
  <div _ngcontent-ng-c51284643="" style="flex: 2;"></div><a _ngcontent-ng-c51284643="" routerlinkactive="activebutton" routerlink="/adminlogin" class="btn btn-primary" ng-reflect-router-link="/adminlogin" ng-reflect-router-link-active="activebutton" href="/adminlogin">Logout</a>
  <div _ngcontent-ng-c51284643="" style="flex: 3;"></div></div> 
<div class="container">
    <h1>Library Management System</h1>
    <nav>
      <ul>
        <li><a routerLink="/borrowers" routerLinkActive="activebutton">Borrower List</a></li>
        <li><a routerLink="/book-list" routerLinkActive="activebutton">Book List</a></li>
        <li><a routerLink="/categories" routerLinkActive="activebutton">Category List</a></li>
        <li><a routerLink="/borrow-history" routerLinkActive="activebutton">Borrow History</a></li>
      </ul>
    </nav>
  </div>
  